@mixin set-transition($x, $y, $z){
    -webkit-transform: translate3d($x, $y, $z);
    -moz-transform: translate3d($x, $y, $z);
    -ms-transform: translate3d($x, $y, $z);
    -o-transform: translate3d($x, $y, $z);
    transform: translate3d($x, $y, $z);
}

/* Main page and right page */
.to-left {
  @include set-transition(-100%, 0, 0);
}
.from-left {
  @include set-transition(0, 0%, 0);
}
.to-right {
  @include set-transition(100%, 0, 0);
}
.from-right {
  @include set-transition(0, 0%, 0);
}

/* Main page and bottom page */
.to-top{
    @include set-transition(0, -100%, 0);
}
.to-bottom {
    @include set-transition(0, 100%, 0);
}
.from-bottom,
.from-top{
    @include set-transition(0, 0%, 0);
}
